In [39]:
import pandas as pd

In [40]:
DATA = '../data'

In [41]:
ACS = pd.read_csv(DATA + '/features/ACSselectedData.csv', index_col=0)
Health = pd.read_csv(DATA + '/features/NYC_Health_Features.csv')
Yelp = pd.read_csv(DATA + '/yelp_counts_per_ct.csv', index_col=0)

In [42]:
ACS.head()

,FIPS,Census Tract,Pop Density,Income,Age,Household Size,Total Pop,Mexican,Cuban,Dominican,...,Italian,Polish,Russian,Turkish,Haitian,White,Black or African American,American Indian and Alaska Native,Asian,Hispanic or Latino
1,36005000100,100,11586.310,NaN,32.1,NaN,7503,1.865920,0.279888,5.077969,...,0.413168,0.453152,0.439824,0.000000,0.613088,12.435026,62.601626,0.186592,1.799280,29.854725
2,36005000200,200,28365.120,70893.0,38.6,3.94,5251,3.865930,0.190440,12.816606,...,0.000000,0.685584,0.000000,0.000000,0.000000,43.458389,24.795277,0.000000,2.799467,74.957151
3,36005000400,400,20096.470,76667.0,39.4,3.10,5980,1.672241,1.521739,13.244147,...,2.541806,0.351171,0.150502,0.000000,0.000000,43.361204,33.762542,0.317726,0.953177,64.682274
4,36005001600,1600,32334.870,31540.0,36.9,2.94,6056,0.577939,1.469617,29.920740,...,0.743065,0.132100,0.115588,0.000000,0.528402,43.312417,36.079921,0.000000,0.000000,66.727213
5,36005001900,1900,4164.445,39130.0,32.5,2.27,2682,4.809843,0.000000,17.002237,...,2.274422,0.298285,0.260999,0.111857,0.820283,16.853095,37.061894,0.000000,1.864280,54.026846

In [43]:
ACS.shape

(2167, 44)

In [44]:
Health.head()

,PlaceFIPS,TractFIPS,Place_TractID,DIABETES_CrudePrev,HIGHCHOL_CrudePrev,OBESITY_CrudePrev
0,3651000,36005000100,3651000-36005000100,9.9,27.8,35.4
1,3651000,36005000200,3651000-36005000200,12.7,33.8,29.9
2,3651000,36005000400,3651000-36005000400,11.2,31.4,29.4
3,3651000,36005001600,3651000-36005001600,17.0,37.8,34.5
4,3651000,36005001900,3651000-36005001900,11.4,30.8,33.0

In [45]:
Health.shape

(2117, 6)

In [46]:
Yelp.head()

,FIPS,Total,asian,european,halal,hispanic,midmed,Armenian,Cambodian,Caribbean,...,Puerto Rican,Russian,Salvadoran,Shanghainese,Singaporean,Taiwanese,Thai,Turkish,Venezuelan,Vietnamese
0,36005000200,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,36005001900,5.0,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,36005002000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,36005002500,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,36005002701,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
MergedData = ACS.merge(Health, left_on='FIPS', right_on='TractFIPS', how='outer')
print(MergedData.shape)
MergedData.head()

(2167, 50)

,FIPS,Census Tract,Pop Density,Income,Age,Household Size,Total Pop,Mexican,Cuban,Dominican,...,Black or African American,American Indian and Alaska Native,Asian,Hispanic or Latino,PlaceFIPS,TractFIPS,Place_TractID,DIABETES_CrudePrev,HIGHCHOL_CrudePrev,OBESITY_CrudePrev
0,36005000100,100,11586.310,NaN,32.1,NaN,7503,1.865920,0.279888,5.077969,...,62.601626,0.186592,1.799280,29.854725,3651000.0,3.600500e+10,3651000-36005000100,9.9,27.8,35.4
1,36005000200,200,28365.120,70893.0,38.6,3.94,5251,3.865930,0.190440,12.816606,...,24.795277,0.000000,2.799467,74.957151,3651000.0,3.600500e+10,3651000-36005000200,12.7,33.8,29.9
2,36005000400,400,20096.470,76667.0,39.4,3.10,5980,1.672241,1.521739,13.244147,...,33.762542,0.317726,0.953177,64.682274,3651000.0,3.600500e+10,3651000-36005000400,11.2,31.4,29.4
3,36005001600,1600,32334.870,31540.0,36.9,2.94,6056,0.577939,1.469617,29.920740,...,36.079921,0.000000,0.000000,66.727213,3651000.0,3.600500e+10,3651000-36005001600,17.0,37.8,34.5
4,36005001900,1900,4164.445,39130.0,32.5,2.27,2682,4.809843,0.000000,17.002237,...,37.061894,0.000000,1.864280,54.026846,3651000.0,3.600500e+10,3651000-36005001900,11.4,30.8,33.0

In [48]:
MergedData = MergedData.merge(Yelp, on='FIPS', how='outer', suffixes=('_ACS', '_Yelp'))
print(MergedData.shape)
MergedData.head()

(2168, 97)

,FIPS,Census Tract,Pop Density,Income,Age,Household Size,Total Pop,Mexican_ACS,Cuban_ACS,Dominican_ACS,...,Puerto Rican,Russian_Yelp,Salvadoran_Yelp,Shanghainese,Singaporean,Taiwanese_Yelp,Thai_Yelp,Turkish_Yelp,Venezuelan_Yelp,Vietnamese_Yelp
0,36005000100,100.0,11586.310,NaN,32.1,NaN,7503.0,1.865920,0.279888,5.077969,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,36005000200,200.0,28365.120,70893.0,38.6,3.94,5251.0,3.865930,0.190440,12.816606,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,36005000400,400.0,20096.470,76667.0,39.4,3.10,5980.0,1.672241,1.521739,13.244147,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,36005001600,1600.0,32334.870,31540.0,36.9,2.94,6056.0,0.577939,1.469617,29.920740,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,36005001900,1900.0,4164.445,39130.0,32.5,2.27,2682.0,4.809843,0.000000,17.002237,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [55]:
MergedData.to_csv(DATA + '/Final_Merged.csv', index=False)