In [1]:
import pandas as pd
import numpy as np

# Read in health data

In [2]:
df_health = pd.read_csv('./Data/health.csv')

In [3]:
df_health.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
0,AL,Birmingham,107000,1073000100,0107000-01073000100,3042,23.9,"(21.2, 27.2)",32.5,"(31.5, 33.6)",...,"(73.1, 78.6)",19.6,"(18.2, 21.2)",50.4,"(49.1, 51.6)",5.5,"( 5.0, 6.0)",30.2,"(24.1, 36.3)","(33.57943283260, -86.7228323926)"
1,AL,Birmingham,107000,1073000300,0107000-01073000300,2735,28.8,"(25.4, 32.4)",31.3,"(30.0, 32.4)",...,"(70.0, 76.4)",20.2,"(18.5, 22.0)",49.4,"(47.8, 50.8)",5.7,"( 5.1, 6.4)",33.3,"(25.6, 41.0)","(33.54282086860, -86.7524339780)"
2,AL,Birmingham,107000,1073000400,0107000-01073000400,3338,26.1,"(22.6, 29.9)",34.6,"(33.2, 35.9)",...,"(69.4, 76.2)",21.1,"(19.1, 23.1)",52.5,"(51.2, 53.7)",6.5,"( 5.8, 7.2)",36.0,"(28.9, 43.5)","(33.56324496330, -86.7640474064)"
3,AL,Birmingham,107000,1073000500,0107000-01073000500,2864,28.1,"(24.6, 32.0)",37.8,"(36.3, 39.2)",...,"(67.0, 74.5)",23.1,"(21.0, 25.4)",52.6,"(51.1, 54.0)",8.2,"( 7.3, 9.2)",40.2,"(31.1, 48.9)","(33.54424045940, -86.7749130719)"
4,AL,Birmingham,107000,1073000700,0107000-01073000700,2577,31.8,"(27.0, 36.7)",38.5,"(37.1, 39.9)",...,"(62.9, 71.9)",25.8,"(23.5, 28.2)",54.1,"(52.3, 55.6)",9.6,"( 8.5, 10.7)",45.8,"(35.2, 56.1)","(33.55254061390, -86.8016893706)"

# Filter only New York City

In [4]:
df_ny = df_health[df_health['StateAbbr'] == 'NY']

In [5]:
np.unique(df_ny['PlaceName'])

array(['Albany', 'Buffalo', 'Mount Vernon', 'New Rochelle', 'New York',
       'Rochester', 'Schenectady', 'Syracuse', 'Yonkers'], dtype=object)

In [6]:
df_nyc = df_ny[df_ny['PlaceName'] == 'New York']
df_nyc.shape

(2117, 63)

In [7]:
df_nyc.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
16368,NY,New York,3651000,36005000100,3651000-36005000100,11091,32.0,"(27.3, 35.9)",13.2,"(12.4, 13.9)",...,"(74.3, 78.9)",16.0,"(14.4, 17.4)",49.3,"(47.7, 50.8)",2.7,"( 2.4, 3.0)",29.0,"(20.8, 34.8)","(40.79277676180, -73.8835903861)"
16369,NY,New York,3651000,36005000200,3651000-36005000200,4334,19.9,"(16.6, 23.2)",19.8,"(18.9, 20.7)",...,"(81.7, 85.9)",13.8,"(12.6, 15.2)",40.2,"(38.8, 41.5)",2.8,"( 2.5, 3.0)",15.0,"(11.1, 19.2)","(40.80588752040, -73.8600033082)"
16370,NY,New York,3651000,36005000400,3651000-36005000400,5503,16.8,"(14.1, 20.1)",17.8,"(17.0, 18.7)",...,"(84.7, 88.5)",12.2,"(10.9, 13.5)",38.9,"(37.4, 40.4)",2.3,"( 2.1, 2.6)",11.2,"( 7.9, 14.9)","(40.80816486420, -73.8506843230)"
16371,NY,New York,3651000,36005001600,3651000-36005001600,5643,24.5,"(20.7, 28.0)",25.1,"(24.1, 26.1)",...,"(77.3, 82.5)",18.8,"(17.2, 20.4)",41.6,"(40.3, 42.9)",4.5,"( 4.1, 4.9)",19.9,"(14.7, 25.0)","(40.81884779820, -73.8580763586)"
16372,NY,New York,3651000,36005001900,3651000-36005001900,1917,23.8,"(19.7, 27.9)",16.7,"(15.8, 17.5)",...,"(74.2, 80.2)",14.9,"(13.4, 16.4)",43.3,"(41.7, 44.8)",2.7,"( 2.5, 3.0)",20.8,"(15.0, 26.9)","(40.80124256560, -73.9095876660)"

In [8]:
df_nyc = df_nyc.reset_index(drop=True)
df_nyc.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
0,NY,New York,3651000,36005000100,3651000-36005000100,11091,32.0,"(27.3, 35.9)",13.2,"(12.4, 13.9)",...,"(74.3, 78.9)",16.0,"(14.4, 17.4)",49.3,"(47.7, 50.8)",2.7,"( 2.4, 3.0)",29.0,"(20.8, 34.8)","(40.79277676180, -73.8835903861)"
1,NY,New York,3651000,36005000200,3651000-36005000200,4334,19.9,"(16.6, 23.2)",19.8,"(18.9, 20.7)",...,"(81.7, 85.9)",13.8,"(12.6, 15.2)",40.2,"(38.8, 41.5)",2.8,"( 2.5, 3.0)",15.0,"(11.1, 19.2)","(40.80588752040, -73.8600033082)"
2,NY,New York,3651000,36005000400,3651000-36005000400,5503,16.8,"(14.1, 20.1)",17.8,"(17.0, 18.7)",...,"(84.7, 88.5)",12.2,"(10.9, 13.5)",38.9,"(37.4, 40.4)",2.3,"( 2.1, 2.6)",11.2,"( 7.9, 14.9)","(40.80816486420, -73.8506843230)"
3,NY,New York,3651000,36005001600,3651000-36005001600,5643,24.5,"(20.7, 28.0)",25.1,"(24.1, 26.1)",...,"(77.3, 82.5)",18.8,"(17.2, 20.4)",41.6,"(40.3, 42.9)",4.5,"( 4.1, 4.9)",19.9,"(14.7, 25.0)","(40.81884779820, -73.8580763586)"
4,NY,New York,3651000,36005001900,3651000-36005001900,1917,23.8,"(19.7, 27.9)",16.7,"(15.8, 17.5)",...,"(74.2, 80.2)",14.9,"(13.4, 16.4)",43.3,"(41.7, 44.8)",2.7,"( 2.5, 3.0)",20.8,"(15.0, 26.9)","(40.80124256560, -73.9095876660)"

In [9]:
df_nyc.to_csv('./Data/NYC_Health.csv', index=False)

In [10]:
df_nyc_subset = df_nyc[['PlaceFIPS', 'TractFIPS', 'Place_TractID',
                'DIABETES_CrudePrev', 'HIGHCHOL_CrudePrev', 'OBESITY_CrudePrev']]
df_nyc_subset.head()

,PlaceFIPS,TractFIPS,Place_TractID,DIABETES_CrudePrev,HIGHCHOL_CrudePrev,OBESITY_CrudePrev
0,3651000,36005000100,3651000-36005000100,9.9,27.8,35.4
1,3651000,36005000200,3651000-36005000200,12.7,33.8,29.9
2,3651000,36005000400,3651000-36005000400,11.2,31.4,29.4
3,3651000,36005001600,3651000-36005001600,17.0,37.8,34.5
4,3651000,36005001900,3651000-36005001900,11.4,30.8,33.0

In [11]:
df_nyc_subset.to_csv('./Data/NYC_Health_Features.csv', index=False)