In [1]:
import pandas as pd

In [129]:
df = pd.read_csv('Data/features/ACS_Subset.csv')

In [130]:
df.head()

,FIPS,Name of Area,Qualifying Name,State/U.S.-Abbreviation (USPS),Summary Level,Geographic Component,File Identification,Logical Record Number,US,Region,...,Occupied Housing Units: Complete Kitchen Facilities,Occupied Housing Units.2,Occupied Housing Units: with Telephone Service Available,Occupied Housing Units: with Telephone Service Available: Householder 15 to 34 Years,Occupied Housing Units: with Telephone Service Available: Householder 35 to 64 Years,Occupied Housing Units: with Telephone Service Available: Householder 65 Years and Over,Occupied Housing Units: No Telephone Service Available,Occupied Housing Units: No Telephone Service Available: Householder 15 to 34 Years,Occupied Housing Units: No Telephone Service Available: Householder 35 to 64 Years,Occupied Housing Units: No Telephone Service Available: Householder 65 Years and Over
0,Geo_FIPS,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,Geo_REGION,...,SE_T181_003,SE_T184_001,SE_T184_002,SE_T184_003,SE_T184_004,SE_T184_005,SE_T184_006,SE_T184_007,SE_T184_008,SE_T184_009
1,36005000100,"Census Tract 1, Bronx County, New York","Census Tract 1, Bronx County, New York",ny,140,00,ACSSF,0003481,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,36005000200,"Census Tract 2, Bronx County, New York","Census Tract 2, Bronx County, New York",ny,140,00,ACSSF,0003482,NaN,NaN,...,1331,1331,1310,137,858,315,21,0,21,0
3,36005000400,"Census Tract 4, Bronx County, New York","Census Tract 4, Bronx County, New York",ny,140,00,ACSSF,0003483,NaN,NaN,...,1915,1926,1885,160,1407,318,41,11,20,10
4,36005001600,"Census Tract 16, Bronx County, New York","Census Tract 16, Bronx County, New York",ny,140,00,ACSSF,0003484,NaN,NaN,...,1957,1970,1913,225,1166,522,57,0,36,21

In [131]:
df.drop(0,inplace=True)

In [132]:
key = set(['Chinese','Japanese','Korean','Vietnamese','Malaysian','Filipino',
       'Taiwanese','Indian','Cambodian','Laotian','Pakistani','Thai','Himalayan',
       'Nepalese','Shanghainese','Singaporean','Cuban','Puerto Rican',
       'Dominican','Mexican','Colombian','Salvadoran','Peruvian','Venezuelan',
       'Haitian','Italian','Irish','German','Russian','Polish','French','Jewish',
       'Greek','Turkish','Lebanese','Armenian','Moroccan'])

In [134]:
# newcolumn = []
for i in range(len(df.columns)): 
#     if len(key.intersection(set(df.columns[i].split(" ")))) == 0 or "Reporting" in df.columns[i]:
#         continue
#     if "Foreign-Born" in df.columns[i]:
    print(i,df.columns[i],df.loc[1,df.columns[i]])
#     newcolumn.append(df.columns[i])

(0, 'FIPS', '36005000100')
(1, 'Name of Area', 'Census Tract 1, Bronx County, New York')
(2, 'Qualifying Name', 'Census Tract 1, Bronx County, New York')
(3, 'State/U.S.-Abbreviation (USPS)', 'ny')
(4, 'Summary Level', '140')
(5, 'Geographic Component', '00')
(6, 'File Identification', 'ACSSF')
(7, 'Logical Record Number', '0003481')
(8, 'US', nan)
(9, 'Region', nan)
(10, 'Division', nan)
(11, 'State (Census Code)', nan)
(12, 'State (FIPS)', '36')
(13, 'County', '005')
(14, 'County Subdivision (FIPS)', nan)
(15, 'Place (FIPS Code)', nan)
(16, 'Place (State FIPS + Place FIPS)', nan)
(17, 'Census Tract', '000100')
(18, 'Block Group', nan)
(19, 'Consolidated City', nan)
(20, 'American Indian Area/Alaska Native Area/Hawaiian Home Land (Census)', nan)
(21, 'American Indian Area/Alaska Native Area/Hawaiian Home Land (FIPS)', nan)
(22, 'American Indian Trust Land/Hawaiian Home Land Indicator', nan)
(23, 'American Indian Tribal Subdivision (Census)', nan)
(24, 'American Indian Tribal Subdivision (FIPS)', nan)
(25, 'Alaska Native Regional Corporation (FIPS)', nan)
(26, 'Metropolitan and Micropolitan Statistical Area', nan)
(27, 'Combined Statistical Area', nan)
(28, 'Metropolitan Division', nan)
(29, 'Metropolitan Area Central City', nan)
(30, 'Metropolitan/Micropolitan Indicator Flag', nan)
(31, 'New England City and Town Combined Statistical Area', nan)
(32, 'New England City and Town Area', nan)
(33, 'New England City and Town Area Division', nan)
(34, 'Urban Area', nan)
(35, 'Urban Area Central Place', nan)
(36, 'Current Congressional District ***', nan)
(37, 'State Legislative District Upper', nan)
(38, 'State Legislative District Lower', nan)
(39, 'Voting District', nan)
(40, 'ZIP Code Tabulation Area (3-digit)', nan)
(41, 'ZIP Code Tabulation Area (5-digit)', nan)
(42, 'Subbarrio (FIPS)', nan)
(43, 'School District (Elementary)', nan)
(44, 'School District (Secondary)', nan)
(45, 'School District (Unified)', nan)
(46, 'Urban/Rural', nan)
(47, 'Principal City Indicator', nan)
(48, 'Traffic Analysis Zone', nan)
(49, 'Urban Growth Area', nan)
(50, 'Public Use Microdata Area - 5% File', nan)
(51, 'Public Use Microdata Area - 1% File', nan)
(52, 'Geographic Identifier', '14000US36005000100')
(53, 'Tribal Tract', nan)
(54, 'Tribal Block Group', nan)
(55, 'Area (Land)', '1677210')
(56, 'Area (Water)', '1035011')
(57, 'Total Population', '7503')
(58, 'Total Population.1', '7503')
(59, 'Population Density (Per Sq. Mile)', '11586.31')
(60, 'Area (Land).1', '0.647574428916273')
(61, 'Area Total:', '1.047194')
(62, 'Area Total: Area (Land)', '0.6475744')
(63, 'Area Total: Area (Water)', '0.39962')
(64, 'Total Population:', '7503')
(65, 'Total Population: Under 5 Years', '0')
(66, 'Total Population: 5 to 9 Years', '0')
(67, 'Total Population: 10 to 14 Years', '0')
(68, 'Total Population: 15 to 17 Years', '267')
(69, 'Total Population: 18 to 24 Years', '1914')
(70, 'Total Population: 25 to 34 Years', '2105')
(71, 'Total Population: 35 to 44 Years', '1450')
(72, 'Total Population: 45 to 54 Years', '1298')
(73, 'Total Population: 55 to 64 Years', '436')
(74, 'Total Population: 65 to 74 Years', '24')
(75, 'Total Population: 75 to 84 Years', '9')
(76, 'Total Population: 85 Years and Over', '0')
(77, 'Median Age:', '32.1')
(78, 'Median Age: Male Population', '32')
(79, 'Median Age: Female Population', '33.6')
(80, 'Total Population:.1', '7503')
(81, 'Total Population: White Alone', '933')
(82, 'Total Population: Black or African American Alone', '4697')
(83, 'Total Population: American Indian and Alaska Native Alone', '14')
(84, 'Total Population: Asian Alone', '135')
(85, 'Total Population: Native Hawaiian and Other Pacific Islander Alone', '0')
(86, 'Total Population: Some Other Race Alone', '1612')
(87, 'Total Population: Two or More Races', '112')
(88, 'Total Population.2', '7503')
(89, 'Total Population: Not Hispanic or Latino', '5263')
(90, 'Total Population: Hispanic or Latino', '2240')
(91, 'Total Population: Hispanic or Latino: Mexican', '140')
(92, 'Total Population: Hispanic or Latino: Puerto Rican', '1093')
(93, 'Total Population: Hispanic or Latino: Cuban', '21')
(94, 'Total Population: Hispanic or Latino: Dominican Republic', '381')
(95, 'Total Population: Hispanic or Latino: Central American', '134')
(96, 'Total Population: Hispanic or Latino: Central American: Costa Rican', '0')
(97, 'Total Population: Hispanic or Latino: Central American: Guatemalan', '29')
(98, 'Total Population: Hispanic or Latino: Central American: Honduran', '63')
(99, 'Total Population: Hispanic or Latino: Central American: Nicaraguan', '0')
(100, 'Total Population: Hispanic or Latino: Central American: Panamanian', '6')
(101, 'Total Population: Hispanic or Latino: Central American: Salvadoran', '36')
(102, 'Total Population: Hispanic or Latino: Central American: Other Central American', '0')
(103, 'Total Population: Hispanic or Latino: South American', '83')
(104, 'Total Population: Hispanic or Latino: South American: Argentinean', '0')
(105, 'Total Population: Hispanic or Latino: South American: Bolivian', '0')
(106, 'Total Population: Hispanic or Latino: South American: Chilean', '0')
(107, 'Total Population: Hispanic or Latino: South American: Colombian', '8')
(108, 'Total Population: Hispanic or Latino: South American: Ecuadorian', '75')
(109, 'Total Population: Hispanic or Latino: South American: Paraguayan', '0')
(110, 'Total Population: Hispanic or Latino: South American: Peruvian', '0')
(111, 'Total Population: Hispanic or Latino: South American: Uruguayan', '0')
(112, 'Total Population: Hispanic or Latino: South American: Venezuelan', '0')
(113, 'Total Population: Hispanic or Latino: South American: Other South American', '0')
(114, 'Total Population: Hispanic or Latino: Other Hispanic or Latino', '388')
(115, 'Total Population: Hispanic or Latino: Other Hispanic or Latino: Spaniard', '0')
(116, 'Total Population: Hispanic or Latino: Other Hispanic or Latino: Spanish', '0')
(117, 'Total Population: Hispanic or Latino: Other Hispanic or Latino: Spanish American', '0')
(118, 'Total Population: Hispanic or Latino: Other Hispanic or Latino: All Other Hispanic or Latino', '388')
(119, 'Total:', '135')
(120, 'Total: Asian Indian', '55')
(121, 'Total: Bangladeshi', '19')
(122, 'Total: Bhutanese', '0')
(123, 'Total: Burmese', '0')
(124, 'Total: Cambodian', '0')
(125, 'Total: Chinese, Except Taiwanese', '39')
(126, 'Total: Filipino', '0')
(127, 'Total: Hmong', '0')
(128, 'Total: Indonesian', '0')
(129, 'Total: Japanese', '0')
(130, 'Total: Korean', '10')
(131, 'Total: Laotian', '0')
(132, 'Total: Malaysian', '0')
(133, 'Total: Mongolian', '0')
(134, 'Total: Nepalese', '5')
(135, 'Total: Okinawan', '0')
(136, 'Total: Pakistani', '0')
(137, 'Total: Sri Lankan', '0')
(138, 'Total: Taiwanese', '0')
(139, 'Total: Thai', '0')
(140, 'Total: Vietnamese', '0')
(141, 'Total: Other Asian, Specified', '0')
(142, 'Total: Other Asian, Not Specified', '7')
(143, 'Total: Two or More Asian', '0')
(144, 'Average Household Size', nan)
(145, 'Average Household Size for Renter-Occupied Housing Units', nan)
(146, 'Population 25 Years and Over:', '5322')
(147, 'Population 25 Years and Over: Less than High School', '3141')
(148, 'Population 25 Years and Over: High School Graduate (Includes Equivalency)', '1382')
(149, 'Population 25 Years and Over: Some College', '723')
(150, "Population 25 Years and Over: Bachelor's Degree", '35')
(151, "Population 25 Years and Over: Master's Degree", '41')
(152, 'Population 25 Years and Over: Professional School Degree', '0')
(153, 'Population 25 Years and Over: Doctorate Degree', '0')
(154, 'Population 16 Years and Over:', '7503')
(155, 'Population 16 Years and Over: in Labor Force', '0')
(156, 'Population 16 Years and Over: in Labor Force: in Armed Forces', '0')
(157, 'Population 16 Years and Over: in Labor Force: Civilian', '0')
(158, 'Population 16 Years and Over: in Labor Force: Civilian: Employed', '0')
(159, 'Population 16 Years and Over: in Labor Force: Civilian: Unemployed', '0')
(160, 'Population 16 Years and Over: Not in Labor Force', '7503')
(161, 'Civilian Population in Labor Force 16 Years and Over:', '0')
(162, 'Civilian Population in Labor Force 16 Years and Over: Employed', '0')
(163, 'Civilian Population in Labor Force 16 Years and Over: Unemployed', '0')
(164, 'Employed Civilian Population 16 Years and Over:', '0')
(165, 'Employed Civilian Population 16 Years and Over: Private Sector', '0')
(166, 'Employed Civilian Population 16 Years and Over: Public Sector', '0')
(167, 'Employed Civilian Population 16 Years and Over: Self-Employed (Incorporated and Not Incorporated)', '0')
(168, 'Employed Civilian Population 16 Years and Over: Private Non-Profit', '0')
(169, 'Employed Civilian Population 16 Years and Over: Unpaid Family Workers', '0')
(170, 'Occupied Housing Units', '0')
(171, 'Occupied Housing Units: Less than $20,000', '0')
(172, 'Occupied Housing Units: Less than $20,000: Less than 20 Percent', '0')
(173, 'Occupied Housing Units: Less than $20,000: 20 to 29 Percent', '0')
(174, 'Occupied Housing Units: Less than $20,000: 30 Percent or More', '0')
(175, 'Occupied Housing Units: $20,000 to $34,999', '0')
(176, 'Occupied Housing Units: $20,000 to $34,999: Less than 20 Percent', '0')
(177, 'Occupied Housing Units: $20,000 to $34,999: 20 to 29 Percent', '0')
(178, 'Occupied Housing Units: $20,000 to $34,999: 30 Percent or More', '0')
(179, 'Occupied Housing Units: $35,000 to $49,999', '0')
(180, 'Occupied Housing Units: $35,000 to $49,999: Less than 20 Percent', '0')
(181, 'Occupied Housing Units: $35,000 to $49,999: 20 to 29 Percent', '0')
(182, 'Occupied Housing Units: $35,000 to $49,999: 30 Percent or More', '0')
(183, 'Occupied Housing Units: $50,000 to $74,999', '0')
(184, 'Occupied Housing Units: $50,000 to $74,999: Less than 20 Percent', '0')
(185, 'Occupied Housing Units: $50,000 to $74,999: 20 to 29 Percent', '0')
(186, 'Occupied Housing Units: $50,000 to $74,999: 30 Percent or More', '0')
(187, 'Occupied Housing Units: $75,000 or More', '0')
(188, 'Occupied Housing Units: $75,000 or More: Less than 20 Percent', '0')
(189, 'Occupied Housing Units: $75,000 or More: 20 to 29 Percent', '0')
(190, 'Occupied Housing Units: $75,000 or More: 30 Percent or More', '0')
(191, 'Occupied Housing Units: Zero or Negative Income', '0')
(192, 'Occupied Housing Units: No Cash Rent', '0')
(193, 'Median Household Income (In 2016 Inflation Adjusted Dollars)', nan)
(194, 'Per Capita Income (In 2016 Inflation Adjusted Dollars)', '2332')
(195, 'Per Capita Income (In 2016 Inflation Adjusted Dollars).1', '2635')
(196, 'Per Capita Income (In 2016 Inflation Adjusted Dollars).2', '2189')
(197, 'Per Capita Income (In 2016 Inflation Adjusted Dollars).3', nan)
(198, 'Per Capita Income (In 2016 Inflation Adjusted Dollars).4', nan)
(199, 'Per Capita Income (In 2016 Inflation Adjusted Dollars).5', nan)
(200, 'Per Capita Income (In 2016 Inflation Adjusted Dollars).6', '2696')
(201, 'Per Capita Income (In 2016 Inflation Adjusted Dollars).7', '3677')
(202, 'Per Capita Income (In 2016 Inflation Adjusted Dollars).8', '2517')
(203, 'Per Capita Income (In 2016 Inflation Adjusted Dollars).9', '4369')
(204, 'Gini Index', nan)
(205, 'Housing Units', '0')
(206, 'Housing Units:', '0')
(207, 'Housing Units: Occupied', '0')
(208, 'Housing Units: Vacant', '0')
(209, 'Vacant Housing Units:', '0')
(210, 'Vacant Housing Units: for Rent', '0')
(211, 'Vacant Housing Units: for Sale Only', '0')
(212, 'Vacant Housing Units: Other Vacant', '0')
(213, 'Renter-Occupied Housing Units', '0')
(214, 'Renter-Occupied Housing Units: Built 2014 or Later', '0')
(215, 'Renter-Occupied Housing Units: Built 2010 to 2013', '0')
(216, 'Renter-Occupied Housing Units: Built 2000 to 2009', '0')
(217, 'Renter-Occupied Housing Units: Built 1990 to 1999', '0')
(218, 'Renter-Occupied Housing Units: Built 1980 to 1989', '0')
(219, 'Renter-Occupied Housing Units: Built 1970 to 1979', '0')
(220, 'Renter-Occupied Housing Units: Built 1960 to 1969', '0')
(221, 'Renter-Occupied Housing Units: Built 1950 to 1959', '0')
(222, 'Renter-Occupied Housing Units: Built 1940 to 1949', '0')
(223, 'Renter-Occupied Housing Units: Built 1939 or Earlier', '0')
(224, 'Renter-Occupied Housing Units.1', '0')
(225, 'Renter-Occupied Housing Units: 0.50 or Less Occupants Per Room', '0')
(226, 'Renter-Occupied Housing Units: 0.51 to 1.00 Occupants Per Room', '0')
(227, 'Renter-Occupied Housing Units: 1.01 to 1.50 Occupants Per Room', '0')
(228, 'Renter-Occupied Housing Units: 1.51 to 2.00 Occupants Per Room', '0')
(229, 'Renter-Occupied Housing Units: 2.01 or More Occupants Per Room', '0')
(230, 'Renter-Occupied Housing Units.2', '0')
(231, 'Renter-Occupied Housing Units: 1 Room', '0')
(232, 'Renter-Occupied Housing Units: 2 Rooms', '0')
(233, 'Renter-Occupied Housing Units: 3 Rooms', '0')
(234, 'Renter-Occupied Housing Units: 4 Rooms', '0')
(235, 'Renter-Occupied Housing Units: 5 Rooms', '0')
(236, 'Renter-Occupied Housing Units: 6 Rooms', '0')
(237, 'Renter-Occupied Housing Units: 7 Rooms', '0')
(238, 'Renter-Occupied Housing Units: 8 Rooms', '0')
(239, 'Renter-Occupied Housing Units: 9 or More Rooms', '0')
(240, 'Median Year Structure Built', nan)
(241, 'Occupied Housing Units:', '0')
(242, 'Occupied Housing Units: Gas (Utility, Bottled, Tank, or Lp Gas)', '0')
(243, 'Occupied Housing Units: Electricity', '0')
(244, 'Occupied Housing Units: Fuel Oil, Kerosene, Etc.', '0')
(245, 'Occupied Housing Units: Coal, Coke or Wood', '0')
(246, 'Occupied Housing Units: Solar Energy', '0')
(247, 'Occupied Housing Units: Other Fuel', '0')
(248, 'Occupied Housing Units: No Fuel Used', '0')
(249, 'Median Value', nan)
(250, 'Median Gross Rent', nan)
(251, 'Population for Whom Poverty Status Is Determined:', '0')
(252, 'Population for Whom Poverty Status Is Determined: Under 1.00 (Doing Poorly)', '0')
(253, 'Population for Whom Poverty Status Is Determined: 1.00 to 1.99 (Struggling)', '0')
(254, 'Population for Whom Poverty Status Is Determined: Under 2.00 (Poor or Struggling)', '0')
(255, 'Population for Whom Poverty Status Is Determined: 2.00 and Over (Doing Ok)', '0')
(256, 'Workers 16 Years and Over:', '0')
(257, 'Workers 16 Years and Over: Car, Truck, or Van', '0')
(258, 'Workers 16 Years and Over: Drove Alone', '0')
(259, 'Workers 16 Years and Over: Carpooled', '0')
(260, 'Workers 16 Years and Over: Public Transportation (Includes Taxicab)', '0')
(261, 'Workers 16 Years and Over: Motorcycle', '0')
(262, 'Workers 16 Years and Over: Bicycle', '0')
(263, 'Workers 16 Years and Over: Walked', '0')
(264, 'Workers 16 Years and Over: Other Means', '0')
(265, 'Workers 16 Years and Over: Worked At Home', '0')
(266, 'Average Commute to Work (in Min)', nan)
(267, 'Renter-Occupied Housing Units.3', '0')
(268, 'Renter-Occupied Housing Units: No Vehicle Available', '0')
(269, 'Renter-Occupied Housing Units: 1 Vehicle Available', '0')
(270, 'Renter-Occupied Housing Units: 2 Vehicles Available', '0')
(271, 'Renter-Occupied Housing Units: 3 Vehicles Available', '0')
(272, 'Renter-Occupied Housing Units: 4 Vehicles Available', '0')
(273, 'Renter-Occupied Housing Units: 5 or More Vehicles Available', '0')
(274, 'Total Population:.2', '7503')
(275, 'Total Population: Native Born', '6287')
(276, 'Total Population: Foreign Born', '1216')
(277, 'Total Population: Foreign Born: Naturalized Citizen', '346')
(278, 'Total Population: Foreign Born: Not a Citizen', '870')
(279, 'Foreign-Born Population:', '1216')
(280, 'Foreign-Born Population: 2010 or Later', '122')
(281, 'Foreign-Born Population: 2000 to 2009', '357')
(282, 'Foreign-Born Population: 1990 to 1999', '409')
(283, 'Foreign-Born Population: Before 1990', '328')
(284, 'Total:.1', '7503')
(285, 'Total: Ancestry Specified', '7465')
(286, 'Total: Ancestry Specified: Single Ancestry', '7048')
(287, 'Total: Ancestry Specified: Multiple Ancestry', '417')
(288, 'Total: Ancestry Not Specified', '38')
(289, 'Total: Ancestry Not Specified: Ancestry Unclassified', '0')
(290, 'Total: Ancestry Not Specified: Ancestry Not Reported', '38')
(291, 'Total Population.3', '7503')
(292, 'Total Population: Afghan', '0')
(293, 'Total Population: Albanian', '11')
(294, 'Total Population: Alsatian', '0')
(295, 'Total Population: American', '226')
(296, 'Total Population: Arab', '19')
(297, 'Total Population: Arab: Egyptian', '8')
(298, 'Total Population: Arab: Iraqi', '0')
(299, 'Total Population: Arab: Jordanian', '0')
(300, 'Total Population: Arab: Lebanese', '6')
(301, 'Total Population: Arab: Moroccan', '5')
(302, 'Total Population: Arab: Palestinian', '0')
(303, 'Total Population: Arab: Syrian', '0')
(304, 'Total Population: Arab: Arab', '0')
(305, 'Total Population: Arab: Other Arab', '0')
(306, 'Total Population: Armenian', '0')
(307, 'Total Population: Assyrian/Chaldean/Syriac', '0')
(308, 'Total Population: Australian', '0')
(309, 'Total Population: Austrian', '0')
(310, 'Total Population: Basque', '0')
(311, 'Total Population: Belgian', '0')
(312, 'Total Population: Brazilian', '0')
(313, 'Total Population: British', '16')
(314, 'Total Population: Bulgarian', '0')
(315, 'Total Population: Cajun', '0')
(316, 'Total Population: Canadian', '0')
(317, 'Total Population: Carpatho Rusyn', '0')
(318, 'Total Population: Celtic', '0')
(319, 'Total Population: Croatian', '0')
(320, 'Total Population: Cypriot', '0')
(321, 'Total Population: Czech', '0')
(322, 'Total Population: Czechoslovakian', '0')
(323, 'Total Population: Danish', '0')
(324, 'Total Population: Dutch', '0')
(325, 'Total Population: Eastern European', '0')
(326, 'Total Population: English', '0')
(327, 'Total Population: Estonian', '0')
(328, 'Total Population: European', '0')
(329, 'Total Population: Finnish', '0')
(330, 'Total Population: French (Except Basque)', '0')
(331, 'Total Population: French Canadian', '0')
(332, 'Total Population: German', '30')
(333, 'Total Population: German Russian', '0')
(334, 'Total Population: Greek', '0')
(335, 'Total Population: Guyanese', '49')
(336, 'Total Population: Hungarian', '0')
(337, 'Total Population: Icelander', '0')
(338, 'Total Population: Iranian', '8')

(339, 'Total Population: Irish', '49')
(340, 'Total Population: Israeli', '0')
(341, 'Total Population: Italian', '31')
(342, 'Total Population: Latvian', '0')
(343, 'Total Population: Lithuanian', '0')
(344, 'Total Population: Luxemburger', '0')
(345, 'Total Population: Macedonian', '0')
(346, 'Total Population: Maltese', '0')
(347, 'Total Population: New Zealander', '0')
(348, 'Total Population: Northern European', '0')
(349, 'Total Population: Norwegian', '0')
(350, 'Total Population: Pennsylvania German', '0')
(351, 'Total Population: Polish', '34')
(352, 'Total Population: Portuguese', '9')
(353, 'Total Population: Romanian', '34')
(354, 'Total Population: Russian', '33')
(355, 'Total Population: Scandinavian', '0')
(356, 'Total Population: Scotch-Irish', '0')
(357, 'Total Population: Scottish', '0')
(358, 'Total Population: Serbian', '0')
(359, 'Total Population: Slavic', '0')
(360, 'Total Population: Slovak', '0')
(361, 'Total Population: Slovene', '0')
(362, 'Total Population: Soviet Union', '0')
(363, 'Total Population: Sub-Saharan African', '63')
(364, 'Total Population: Sub-Saharan African: Cape Verdean', '0')
(365, 'Total Population: Sub-Saharan African: Ethiopian', '0')
(366, 'Total Population: Sub-Saharan African: Ghanaian', '0')
(367, 'Total Population: Sub-Saharan African: Kenyan', '0')
(368, 'Total Population: Sub-Saharan African: Liberian', '0')
(369, 'Total Population: Sub-Saharan African: Nigerian', '12')
(370, 'Total Population: Sub-Saharan African: Senegalese', '0')
(371, 'Total Population: Sub-Saharan African: Sierra Leonean', '0')
(372, 'Total Population: Sub-Saharan African: Somali', '0')
(373, 'Total Population: Sub-Saharan African: South African', '0')
(374, 'Total Population: Sub-Saharan African: Sudanese', '0')
(375, 'Total Population: Sub-Saharan African: Ugandan', '0')
(376, 'Total Population: Sub-Saharan African: Zimbabwean', '0')
(377, 'Total Population: Sub-Saharan African: African', '51')
(378, 'Total Population: Sub-Saharan African: Other Sub-Saharan African', '0')
(379, 'Total Population: Swedish', '0')
(380, 'Total Population: Swiss', '0')
(381, 'Total Population: Turkish', '0')
(382, 'Total Population: Ukrainian', '5')
(383, 'Total Population: Welsh', '0')
(384, 'Total Population: West Indian (Except Hispanic Groups)', '283')
(385, 'Total Population: West Indian (Except Hispanic Groups): Bahamian', '0')
(386, 'Total Population: West Indian (Except Hispanic Groups): Barbadian', '7')
(387, 'Total Population: West Indian (Except Hispanic Groups): Belizean', '0')
(388, 'Total Population: West Indian (Except Hispanic Groups): Bermudan', '0')
(389, 'Total Population: West Indian (Except Hispanic Groups): British West Indian', '10')
(390, 'Total Population: West Indian (Except Hispanic Groups): Dutch West Indian', '0')
(391, 'Total Population: West Indian (Except Hispanic Groups): Haitian', '46')
(392, 'Total Population: West Indian (Except Hispanic Groups): Jamaican', '124')
(393, 'Total Population: West Indian (Except Hispanic Groups): Trinidadian and Tobagonian', '77')
(394, 'Total Population: West Indian (Except Hispanic Groups): U.s. Virgin Islander', '12')
(395, 'Total Population: West Indian (Except Hispanic Groups): West Indian', '7')
(396, 'Total Population: West Indian (Except Hispanic Groups): Other West Indian', '0')
(397, 'Total Population: Yugoslavian', '0')
(398, 'Total Population: Other Groups', '6694')
(399, 'Total Population: Unclassified or Not Reported', '38')
(400, 'People Reporting Single Ancestry', '7048')
(401, 'People Reporting Single Ancestry: Afghan', '0')
(402, 'People Reporting Single Ancestry: Albanian', '11')
(403, 'People Reporting Single Ancestry: Alsatian', '0')
(404, 'People Reporting Single Ancestry: American', '197')
(405, 'People Reporting Single Ancestry: Arab', '13')
(406, 'People Reporting Single Ancestry: Arab: Egyptian', '8')
(407, 'People Reporting Single Ancestry: Arab: Iraqi', '0')
(408, 'People Reporting Single Ancestry: Arab: Jordanian', '0')
(409, 'People Reporting Single Ancestry: Arab: Lebanese', '0')
(410, 'People Reporting Single Ancestry: Arab: Moroccan', '5')
(411, 'People Reporting Single Ancestry: Arab: Palestinian', '0')
(412, 'People Reporting Single Ancestry: Arab: Syrian', '0')
(413, 'People Reporting Single Ancestry: Arab: Arab', '0')
(414, 'People Reporting Single Ancestry: Arab: Other Arab', '0')
(415, 'People Reporting Single Ancestry: Armenian', '0')
(416, 'People Reporting Single Ancestry: Assyrian/Chaldean/Syriac', '0')
(417, 'People Reporting Single Ancestry: Australian', '0')
(418, 'People Reporting Single Ancestry: Austrian', '0')
(419, 'People Reporting Single Ancestry: Basque', '0')
(420, 'People Reporting Single Ancestry: Belgian', '0')
(421, 'People Reporting Single Ancestry: Brazilian', '0')
(422, 'People Reporting Single Ancestry: British', '0')
(423, 'People Reporting Single Ancestry: Bulgarian', '0')
(424, 'People Reporting Single Ancestry: Cajun', '0')
(425, 'People Reporting Single Ancestry: Canadian', '0')
(426, 'People Reporting Single Ancestry: Carpatho Rusyn', '0')
(427, 'People Reporting Single Ancestry: Celtic', '0')
(428, 'People Reporting Single Ancestry: Croatian', '0')
(429, 'People Reporting Single Ancestry: Cypriot', '0')
(430, 'People Reporting Single Ancestry: Czech', '0')
(431, 'People Reporting Single Ancestry: Czechoslovakian', '0')
(432, 'People Reporting Single Ancestry: Danish', '0')
(433, 'People Reporting Single Ancestry: Dutch', '0')
(434, 'People Reporting Single Ancestry: Eastern European', '0')
(435, 'People Reporting Single Ancestry: English', '0')
(436, 'People Reporting Single Ancestry: Estonian', '0')
(437, 'People Reporting Single Ancestry: European', '0')
(438, 'People Reporting Single Ancestry: Finnish', '0')
(439, 'People Reporting Single Ancestry: French (Except Basque)', '0')
(440, 'People Reporting Single Ancestry: French Canadian', '0')
(441, 'People Reporting Single Ancestry: German', '12')
(442, 'People Reporting Single Ancestry: German Russian', '0')
(443, 'People Reporting Single Ancestry: Greek', '0')
(444, 'People Reporting Single Ancestry: Guyanese', '49')
(445, 'People Reporting Single Ancestry: Hungarian', '0')
(446, 'People Reporting Single Ancestry: Icelander', '0')
(447, 'People Reporting Single Ancestry: Iranian', '0')
(448, 'People Reporting Single Ancestry: Irish', '37')
(449, 'People Reporting Single Ancestry: Israeli', '0')
(450, 'People Reporting Single Ancestry: Italian', '24')
(451, 'People Reporting Single Ancestry: Latvian', '0')
(452, 'People Reporting Single Ancestry: Lithuanian', '0')
(453, 'People Reporting Single Ancestry: Luxemburger', '0')
(454, 'People Reporting Single Ancestry: Macedonian', '0')
(455, 'People Reporting Single Ancestry: Maltese', '0')
(456, 'People Reporting Single Ancestry: New Zealander', '0')
(457, 'People Reporting Single Ancestry: Northern European', '0')
(458, 'People Reporting Single Ancestry: Norwegian', '0')
(459, 'People Reporting Single Ancestry: Pennsylvania German', '0')
(460, 'People Reporting Single Ancestry: Polish', '22')
(461, 'People Reporting Single Ancestry: Portuguese', '0')
(462, 'People Reporting Single Ancestry: Romanian', '34')
(463, 'People Reporting Single Ancestry: Russian', '33')
(464, 'People Reporting Single Ancestry: Scandinavian', '0')
(465, 'People Reporting Single Ancestry: Scotch-Irish', '0')
(466, 'People Reporting Single Ancestry: Scottish', '0')
(467, 'People Reporting Single Ancestry: Serbian', '0')
(468, 'People Reporting Single Ancestry: Slavic', '0')
(469, 'People Reporting Single Ancestry: Slovak', '0')
(470, 'People Reporting Single Ancestry: Slovene', '0')
(471, 'People Reporting Single Ancestry: Soviet Union', '0')
(472, 'People Reporting Single Ancestry: Sub-Saharan African', '63')
(473, 'People Reporting Single Ancestry: Sub-Saharan African: Cape Verdean', '0')
(474, 'People Reporting Single Ancestry: Sub-Saharan African: Ethiopian', '0')
(475, 'People Reporting Single Ancestry: Sub-Saharan African: Ghanaian', '0')
(476, 'People Reporting Single Ancestry: Sub-Saharan African: Kenyan', '0')
(477, 'People Reporting Single Ancestry: Sub-Saharan African: Liberian', '0')
(478, 'People Reporting Single Ancestry: Sub-Saharan African: Nigerian', '12')
(479, 'People Reporting Single Ancestry: Sub-Saharan African: Senegalese', '0')
(480, 'People Reporting Single Ancestry: Sub-Saharan African: Sierra Leonean', '0')
(481, 'People Reporting Single Ancestry: Sub-Saharan African: Somali', '0')
(482, 'People Reporting Single Ancestry: Sub-Saharan African: South African', '0')
(483, 'People Reporting Single Ancestry: Sub-Saharan African: Sudanese', '0')
(484, 'People Reporting Single Ancestry: Sub-Saharan African: Ugandan', '0')
(485, 'People Reporting Single Ancestry: Sub-Saharan African: Zimbabwean', '0')
(486, 'People Reporting Single Ancestry: Sub-Saharan African: African', '51')
(487, 'People Reporting Single Ancestry: Sub-Saharan African: Other Sub-Saharan African', '0')
(488, 'People Reporting Single Ancestry: Swedish', '0')
(489, 'People Reporting Single Ancestry: Swiss', '0')
(490, 'People Reporting Single Ancestry: Turkish', '0')
(491, 'People Reporting Single Ancestry: Ukrainian', '5')
(492, 'People Reporting Single Ancestry: Welsh', '0')
(493, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups)', '259')
(494, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): Bahamian', '0')
(495, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): Barbadian', '7')
(496, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): Belizean', '0')
(497, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): Bermudan', '0')
(498, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): British West Indian', '10')
(499, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): Dutch West Indian', '0')
(500, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): Haitian', '29')
(501, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): Jamaican', '124')
(502, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): Trinidadian and Tobagonian', '77')
(503, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): U.s. Virgin Islander', '12')
(504, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): West Indian', '0')
(505, 'People Reporting Single Ancestry: West Indian (Except Hispanic Groups): Other West Indian', '0')
(506, 'People Reporting Single Ancestry: Yugoslavian', '0')
(507, 'People Reporting Single Ancestry: Other Groups', '6289')
(508, 'People Reporting Multiple Ancestries', '417')
(509, 'People Reporting Multiple Ancestries: Afghan', '0')
(510, 'People Reporting Multiple Ancestries: Albanian', '0')
(511, 'People Reporting Multiple Ancestries: Alsatian', '0')
(512, 'People Reporting Multiple Ancestries: American', '29')
(513, 'People Reporting Multiple Ancestries: Arab', '6')
(514, 'People Reporting Multiple Ancestries: Arab: Egyptian', '0')
(515, 'People Reporting Multiple Ancestries: Arab: Iraqi', '0')
(516, 'People Reporting Multiple Ancestries: Arab: Jordanian', '0')
(517, 'People Reporting Multiple Ancestries: Arab: Lebanese', '6')
(518, 'People Reporting Multiple Ancestries: Arab: Moroccan', '0')
(519, 'People Reporting Multiple Ancestries: Arab: Palestinian', '0')
(520, 'People Reporting Multiple Ancestries: Arab: Syrian', '0')
(521, 'People Reporting Multiple Ancestries: Arab: Arab', '0')
(522, 'People Reporting Multiple Ancestries: Arab: Other Arab', '0')
(523, 'People Reporting Multiple Ancestries: Armenian', '0')
(524, 'People Reporting Multiple Ancestries: Assyrian/Chaldean/Syriac', '0')
(525, 'People Reporting Multiple Ancestries: Australian', '0')
(526, 'People Reporting Multiple Ancestries: Austrian', '0')
(527, 'People Reporting Multiple Ancestries: Basque', '0')
(528, 'People Reporting Multiple Ancestries: Belgian', '0')
(529, 'People Reporting Multiple Ancestries: Brazilian', '0')
(530, 'People Reporting Multiple Ancestries: British', '16')
(531, 'People Reporting Multiple Ancestries: Bulgarian', '0')
(532, 'People Reporting Multiple Ancestries: Cajun', '0')
(533, 'People Reporting Multiple Ancestries: Canadian', '0')
(534, 'People Reporting Multiple Ancestries: Carpatho Rusyn', '0')
(535, 'People Reporting Multiple Ancestries: Celtic', '0')
(536, 'People Reporting Multiple Ancestries: Croatian', '0')
(537, 'People Reporting Multiple Ancestries: Cypriot', '0')
(538, 'People Reporting Multiple Ancestries: Czech', '0')
(539, 'People Reporting Multiple Ancestries: Czechoslovakian', '0')
(540, 'People Reporting Multiple Ancestries: Danish', '0')
(541, 'People Reporting Multiple Ancestries: Dutch', '0')
(542, 'People Reporting Multiple Ancestries: Eastern European', '0')
(543, 'People Reporting Multiple Ancestries: English', '0')
(544, 'People Reporting Multiple Ancestries: Estonian', '0')
(545, 'People Reporting Multiple Ancestries: European', '0')
(546, 'People Reporting Multiple Ancestries: Finnish', '0')
(547, 'People Reporting Multiple Ancestries: French (Except Basque)', '0')
(548, 'People Reporting Multiple Ancestries: French Canadian', '0')
(549, 'People Reporting Multiple Ancestries: German', '18')
(550, 'People Reporting Multiple Ancestries: German Russian', '0')
(551, 'People Reporting Multiple Ancestries: Greek', '0')
(552, 'People Reporting Multiple Ancestries: Guyanese', '0')
(553, 'People Reporting Multiple Ancestries: Hungarian', '0')
(554, 'People Reporting Multiple Ancestries: Icelander', '0')
(555, 'People Reporting Multiple Ancestries: Iranian', '8')
(556, 'People Reporting Multiple Ancestries: Irish', '12')
(557, 'People Reporting Multiple Ancestries: Israeli', '0')
(558, 'People Reporting Multiple Ancestries: Italian', '7')
(559, 'People Reporting Multiple Ancestries: Latvian', '0')
(560, 'People Reporting Multiple Ancestries: Lithuanian', '0')
(561, 'People Reporting Multiple Ancestries: Luxemburger', '0')
(562, 'People Reporting Multiple Ancestries: Macedonian', '0')
(563, 'People Reporting Multiple Ancestries: Maltese', '0')
(564, 'People Reporting Multiple Ancestries: New Zealander', '0')
(565, 'People Reporting Multiple Ancestries: Northern European', '0')
(566, 'People Reporting Multiple Ancestries: Norwegian', '0')
(567, 'People Reporting Multiple Ancestries: Pennsylvania German', '0')
(568, 'People Reporting Multiple Ancestries: Polish', '12')
(569, 'People Reporting Multiple Ancestries: Portuguese', '9')
(570, 'People Reporting Multiple Ancestries: Romanian', '0')
(571, 'People Reporting Multiple Ancestries: Russian', '0')
(572, 'People Reporting Multiple Ancestries: Scandinavian', '0')
(573, 'People Reporting Multiple Ancestries: Scotch-Irish', '0')
(574, 'People Reporting Multiple Ancestries: Scottish', '0')
(575, 'People Reporting Multiple Ancestries: Serbian', '0')
(576, 'People Reporting Multiple Ancestries: Slavic', '0')
(577, 'People Reporting Multiple Ancestries: Slovak', '0')
(578, 'People Reporting Multiple Ancestries: Slovene', '0')
(579, 'People Reporting Multiple Ancestries: Soviet Union', '0')
(580, 'People Reporting Multiple Ancestries: Sub-Saharan African', '0')
(581, 'People Reporting Multiple Ancestries: Sub-Saharan African: Cape Verdean', '0')
(582, 'People Reporting Multiple Ancestries: Sub-Saharan African: Ethiopian', '0')
(583, 'People Reporting Multiple Ancestries: Sub-Saharan African: Ghanaian', '0')
(584, 'People Reporting Multiple Ancestries: Sub-Saharan African: Kenyan', '0')
(585, 'People Reporting Multiple Ancestries: Sub-Saharan African: Liberian', '0')
(586, 'People Reporting Multiple Ancestries: Sub-Saharan African: Nigerian', '0')
(587, 'People Reporting Multiple Ancestries: Sub-Saharan African: Senegalese', '0')
(588, 'People Reporting Multiple Ancestries: Sub-Saharan African: Sierra Leonean', '0')
(589, 'People Reporting Multiple Ancestries: Sub-Saharan African: Somali', '0')
(590, 'People Reporting Multiple Ancestries: Sub-Saharan African: South African', '0')
(591, 'People Reporting Multiple Ancestries: Sub-Saharan African: Sudanese', '0')
(592, 'People Reporting Multiple Ancestries: Sub-Saharan African: Ugandan', '0')
(593, 'People Reporting Multiple Ancestries: Sub-Saharan African: Zimbabwean', '0')
(594, 'People Reporting Multiple Ancestries: Sub-Saharan African: African', '0')
(595, 'People Reporting Multiple Ancestries: Sub-Saharan African: Other Sub-Saharan African', '0')
(596, 'People Reporting Multiple Ancestries: Swedish', '0')
(597, 'People Reporting Multiple Ancestries: Swiss', '0')
(598, 'People Reporting Multiple Ancestries: Turkish', '0')
(599, 'People Reporting Multiple Ancestries: Ukrainian', '0')
(600, 'People Reporting Multiple Ancestries: Welsh', '0')
(601, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups)', '24')
(602, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): Bahamian', '0')
(603, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): Barbadian', '0')
(604, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): Belizean', '0')
(605, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): Bermudan', '0')
(606, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): British West Indian', '0')
(607, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): Dutch West Indian', '0')
(608, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): Haitian', '17')
(609, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): Jamaican', '0')
(610, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): Trinidadian and Tobagonian', '0')
(611, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): U.s. Virgin Islander', '0')
(612, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): West Indian', '7')
(613, 'People Reporting Multiple Ancestries: West Indian (Except Hispanic Groups): Other West Indian', '0')
(614, 'People Reporting Multiple Ancestries: Yugoslavian', '0')
(615, 'People Reporting Multiple Ancestries: Other Groups', '405')
(616, 'Foreign-Born Population:.1', '1216')
(617, 'Foreign-Born Population: Europe', '121')
(618, 'Foreign-Born Population: Europe: Northern Europe', '15')
(619, 'Foreign-Born Population: Europe: Northern Europe: United Kingdom', '15')
(620, 'Foreign-Born Population: Europe: Northern Europe: United Kingdom: United Kingdom, Excluding England and Scotland', '0')
(621, 'Foreign-Born Population: Europe: Northern Europe: United Kingdom: England', '15')
(622, 'Foreign-Born Population: Europe: Northern Europe: United Kingdom: Scotland', '0')
(623, 'Foreign-Born Population: Europe: Northern Europe: Ireland', '0')
(624, 'Foreign-Born Population: Europe: Northern Europe: Other Northern Europe', '0')
(625, 'Foreign-Born Population: Europe: Western Europe', '12')
(626, 'Foreign-Born Population: Europe: Western Europe: Austria', '0')
(627, 'Foreign-Born Population: Europe: Western Europe: France', '0')
(628, 'Foreign-Born Population: Europe: Western Europe: Germany', '12')
(629, 'Foreign-Born Population: Europe: Western Europe: Netherlands', '0')
(630, 'Foreign-Born Population: Europe: Western Europe: Other Western Europe', '0')
(631, 'Foreign-Born Population: Europe: Southern Europe', '9')
(632, 'Foreign-Born Population: Europe: Southern Europe: Greece', '0')
(633, 'Foreign-Born Population: Europe: Southern Europe: Italy', '0')
(634, 'Foreign-Born Population: Europe: Southern Europe: Portugal', '9')
(635, 'Foreign-Born Population: Europe: Southern Europe: Spain', '0')
(636, 'Foreign-Born Population: Europe: Southern Europe: Other Southern Europe', '0')
(637, 'Foreign-Born Population: Europe: Eastern Europe', '85')
(638, 'Foreign-Born Population: Europe: Eastern Europe: Croatia', '0')

In [135]:
newcolumn = [0,17,59,193,77,144,64,91,93,94,101,107,110,112,120,124,125,126,129,130,131,132,134,136,138,139,140,
 300,301,306,330,332,334,339,341,351,354,381,391,81,82,83,84,90]

In [136]:
ndf = df.iloc[:,newcolumn]

In [137]:
ndf.head()

,FIPS,Census Tract,Population Density (Per Sq. Mile),Median Household Income (In 2016 Inflation Adjusted Dollars),Median Age:,Average Household Size,Total Population:,Total Population: Hispanic or Latino: Mexican,Total Population: Hispanic or Latino: Cuban,Total Population: Hispanic or Latino: Dominican Republic,...,Total Population: Italian,Total Population: Polish,Total Population: Russian,Total Population: Turkish,Total Population: West Indian (Except Hispanic Groups): Haitian,Total Population: White Alone,Total Population: Black or African American Alone,Total Population: American Indian and Alaska Native Alone,Total Population: Asian Alone,Total Population: Hispanic or Latino
1,36005000100,000100,11586.31,NaN,32.1,NaN,7503,140,21,381,...,31,34,33,0,46,933,4697,14,135,2240
2,36005000200,000200,28365.12,70893,38.6,3.94,5251,203,10,673,...,0,36,0,0,0,2282,1302,0,147,3936
3,36005000400,000400,20096.47,76667,39.4,3.1,5980,100,91,792,...,152,21,9,0,0,2593,2019,19,57,3868
4,36005001600,001600,32334.87,31540,36.9,2.94,6056,35,89,1812,...,45,8,7,0,32,2623,2185,0,0,4041
5,36005001900,001900,4164.445,39130,32.5,2.27,2682,129,0,456,...,61,8,7,3,22,452,994,0,50,1449

In [140]:
len(ndf.columns)

44

In [141]:
ndf.columns = ['FIPS','Census Tract','Pop Density','Income','Age','Household Size',
               'Total Pop','Mexican','Cuban','Dominican','Salvadoran','Colombian','Peruvian',
               'Venezuelan','Indian','Cambodian','Chinese','Filipino','Japanese','Korean',
               'Laotian','Malaysian','Nepalese','Pakistani','Taiwanese','Thai','Vietnamese',
               'Lebanese','Moroccan','Armenian','French','German','Greek','Irish','Italian',
               'Polish','Russian','Turkish','Haitian',
               'White','Black or African American',
               'American Indian and Alaska Native','Asian','Hispanic or Latino']

In [142]:
ndf.head()

,FIPS,Census Tract,Pop Density,Income,Age,Household Size,Total Pop,Mexican,Cuban,Dominican,...,Italian,Polish,Russian,Turkish,Haitian,White,Black or African American,American Indian and Alaska Native,Asian,Hispanic or Latino
1,36005000100,000100,11586.31,NaN,32.1,NaN,7503,140,21,381,...,31,34,33,0,46,933,4697,14,135,2240
2,36005000200,000200,28365.12,70893,38.6,3.94,5251,203,10,673,...,0,36,0,0,0,2282,1302,0,147,3936
3,36005000400,000400,20096.47,76667,39.4,3.1,5980,100,91,792,...,152,21,9,0,0,2593,2019,19,57,3868
4,36005001600,001600,32334.87,31540,36.9,2.94,6056,35,89,1812,...,45,8,7,0,32,2623,2185,0,0,4041
5,36005001900,001900,4164.445,39130,32.5,2.27,2682,129,0,456,...,61,8,7,3,22,452,994,0,50,1449

In [143]:
len(ndf)

2167

In [144]:
for i in ndf.columns[2:]:
    ndf.loc[:,i] = pd.to_numeric(ndf.loc[:,i],errors='coerce')

/usr/local/lib/python2.7/site-packages/pandas/core/indexing.py:561: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [145]:
ndf.to_csv('selectedcol.csv')

In [146]:
for i in ndf.columns[7:]:
    ndf.loc[:,i] = ndf.loc[:,i] / ndf.loc[:,'Total Pop'] * 100

In [147]:
ndf.head()

,FIPS,Census Tract,Pop Density,Income,Age,Household Size,Total Pop,Mexican,Cuban,Dominican,...,Italian,Polish,Russian,Turkish,Haitian,White,Black or African American,American Indian and Alaska Native,Asian,Hispanic or Latino
1,36005000100,000100,11586.310,NaN,32.1,NaN,7503,1.865920,0.279888,5.077969,...,0.413168,0.453152,0.439824,0.000000,0.613088,12.435026,62.601626,0.186592,1.799280,29.854725
2,36005000200,000200,28365.120,70893.0,38.6,3.94,5251,3.865930,0.190440,12.816606,...,0.000000,0.685584,0.000000,0.000000,0.000000,43.458389,24.795277,0.000000,2.799467,74.957151
3,36005000400,000400,20096.470,76667.0,39.4,3.10,5980,1.672241,1.521739,13.244147,...,2.541806,0.351171,0.150502,0.000000,0.000000,43.361204,33.762542,0.317726,0.953177,64.682274
4,36005001600,001600,32334.870,31540.0,36.9,2.94,6056,0.577939,1.469617,29.920740,...,0.743065,0.132100,0.115588,0.000000,0.528402,43.312417,36.079921,0.000000,0.000000,66.727213
5,36005001900,001900,4164.445,39130.0,32.5,2.27,2682,4.809843,0.000000,17.002237,...,2.274422,0.298285,0.260999,0.111857,0.820283,16.853095,37.061894,0.000000,1.864280,54.026846

In [150]:
ndf.to_csv('ACSselectedData.csv')